* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to bottom,  
  #270a42 30%,
  #c5c5b9 30% 60%,
  #f1e8df 60%
);
}

#tem-principal {
  font-size: 5vw;
}

.start {
  display: grid;
  place-items: center;
  margin-left: 30vw;
  margin-right: 30vw;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  color: #ffffff;
}

.icono {
  height: 3vh;
  width: 3vw;
  
}

#img-car {
  margin-top: 5vh;
}

#space {
  margin-right: 35vw;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
}

span {
  font-weight: normal;
}
#font {
  font-family: 'Gabarito', sans-serif;
  font-size: medium;
  font-weight: normal;
  padding-bottom: value;
  border-bottom-style: solid;
  border-color: #40e0b0;
}

#tem {
  font-weight: bold;
  padding-bottom: value;
  border-bottom-style: solid;
  border-color: #40e0b0;
}

h1 {
  color: white;
}

input[type= button]{
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: #40e0b0;
  border-color: #40d6a9;
  font-weight: bold;
  height: 7vh;
  width: 10vw;
}

.medium {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15vh;
  color: #270a42;
}

section {
  width: 21vw;
  text-align: center;
}

#section-left {
  margin-left: 10vw;
}

#section-right  {
  margin-right: 10vw;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 3.5vh;
}

h2 {
  font-weight: normal;
  margin-left: 9vw;
  margin-bottom: 5vh;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: black;
  border-style:solid;
  border-width: thin;
}

h3 {
  margin-bottom: 3vh;
}

.final {
  margin-top: 25vh;
  height: 70vh;
}

#img-final {
  background-color: #40d6a9;
  border-radius: 50%;
  width: 28vw;
  height: 28vw;
  margin-left: 15vw;
}

#section-final {
  background-color: #270a42;
  text-align: start;
  color: white;
  position: relative;
  bottom: 35vh;
  left: 35vw;
  padding: 5vw;
  height: 30vh;
  width: 38vw;
}

#text-tem-final {
  font-size: 6vh;
  margin-bottom: 3vh;
}

footer {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#space-final {
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  margin-bottom: 5vh;
}

.iconos-final {
  width: 8vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
}